/.idea
/Amazing Prices/Compare plans/
/Amazing Prices/Prices
/Amazing Prices/Layout
/Amazing Prices/Responsive for mobiles
/course-info.yaml
/course-remote-info.yaml
/package.json
/package-lock.json
/node_modules/
